html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1368px) {
    body {
        zoom: 79%;
    }
}

@media screen and (min-width: 1920px) {
  body {
      zoom: normal;
  }
}

@media screen and (max-width: 500px) {
  body {
      zoom: 67%;
  }
}

pre {
  padding: 10px;
}
